*{
    margin: 0px;
    padding: 0px;
}
.carousel-inner img{
    align-items: center;
    width: 100%;
    height: 80vh;
    object-fit: auto;
    margin-top: auto;

}
.container i{
    color: black;
    
}
.container p{
    color: black;

}
.linea{
    background-color: black;
}
html {
	font-size: 16px;
}

.social-bar {
	position: fixed;
	right: 0;
	top: 88%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}
.icon-instagram {
	background: #db179a9d;
}
.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
div#body{
    width: auto;
    height: auto;
    background-color: rgba(199, 199, 199, 0.863);
}
div#texto{
    color: black;
    font-family: 'Teko', sans-serif;
    text-align: left;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}
.consulta{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#boton{
    font: optional;
    width: 50px;
    height: 20px;
}
div a i{
    color: black;
}
.grafico{
    width: 1888px;
    height: 700px;
    margin-top: 7%;
}
div table{
    margin-top: 35%;
    margin-bottom: 5%;
}
div table td{
    margin-top: auto;
    width: 100px;
    margin: auto;
}
div table td input{
    margin-top: auto;
    margin: auto;
}
div button a{
    color: white;
}