
*{margin: 5px;
padding: 2px;
box-sizing: border-box;
font-family: 'Roboto',sans-serif;
}


.container-all{
width: 100%;
max-width: 1000px;
margin: auto;
padding: 60px;
background: white;
margin-top: 100px;

}

.container-all img{
width: 300px;
float:left;

}

.container-all p{
font-size: 24px;
font-weight: 300;
}

div hr{
background-color: black;
}
