@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  body{
     background-color: #ECD0F7;
  }
  .main_content{
        margin-left: 250px;
  }
  .header{
    font-family: 'Rubik', sans-serif;
    text-align: center;
  }
  .info{
    font-family: 'Rubik', sans-serif;
    text-align: center;
  }

  .wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 250px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0px;
    position: fixed;
  }
  
  .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #594f8d;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }
   
  .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
  }
  
  .wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }
.tabla{
    margin-left: 400px;
    margin-right: 220px;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
}
table, td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 200px;
    width: 1300px;
}
th, td{
    padding: 15px;
}
.estadistica1{
    width: 1000px;
    height: 350px;
    margin-left: 300px;
    margin-top: 100px;
}

.container-card{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 300px;  
  margin-top: 100px;  
  margin-right: 100px;
}

.container-card .card-box{
  display: flex;
  width: 20%;
  min-width: 220px;
  height: 100px;
  justify-content: space-around;
  padding: 0.8rem;
  align-items: center;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(112, 19, 96, 0.863); 
  box-shadow: 0px 0px 8px 1px rgba(207, 8, 181, 0.4);
  
}

.container-card .card-box .icon{
  font-size: 27px;
  color: blueviolet;
}

.container-card .card-box h1{
font-weight: bold;
}