div div a button{
    border: none;
width: 100%;
color: white;
font-size: 20px;
background:  #9547EE;
transform: scale(1.05);
padding: 15px 20px;
border-radius: 5px;
cursor: pointer;
height: 100%;
transition: all 500ms ease;
}

div div button{
    border: none;
width: 100%;
color: white;
font-size: 20px;
background: #9547EE;
transform: scale(1.05);
padding: 15px 20px;
border-radius: 5px;
cursor: pointer;
height: 100%;
transition: all 500ms ease;
}
div div button a{
    color: white;
    
}