div h1{
     margin-top: 10%;
}
div hr{
    background-color: black;
}
hr{
    background-color: black;
}
fieldset button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #000000;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    transition: all 500ms ease;
}
.formulario{
    text-align: left;
}

div table{
    margin: auto;
}
div table input{
    width: 100px;
    
}
label{
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    box-sizing: border-box;
    margin-left: 10px;
}
fieldset select{
    width: 200px;
    padding: 6px 12px;
    color: #555;
    font-size: 14px;
    border: 2px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: none;
    line-height: normal;
    background-image: none;
    margin-bottom: 10px;
    margin-left: 10px;
}
fieldset input{
    margin-left: 10px;
    width: 200px;
    padding: 6px 12px;
    color: #555;
    font-size: 14px;
    border: 2px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: none;
    line-height: normal;
    background-image: none;
    margin-bottom: 10px;
}
.tabla
{
    color:white;
}
fieldset
{
    color:white;
}

