body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color:#9547EE ;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background:#32006B;
    margin-top: 150px;
    padding: 3px;
    border:1px solid #aaa;
}
h1{
    text-align: center;
    color:white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type="text"],
input[type="password"],
input[type="email"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: auto;
    margin-top: auto;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #9547EE;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    transition: all 500ms ease;
}

button a{
    color: #32006B;
    text-decoration: none;

}

.button:hover{
    background: #9547EE ;
    transform: scale(1.05);
}
p{
    text-align: center;
    color:white;
}
.link{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.link:hover{
     color: #9547EE;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}




























