div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 340px;
    margin-top: 18%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    transform: scale(1.3);
    
  }
  
  div.gallery img {
    width: 100%;
    height: 240px;
  }
  
  div.desc {
    padding: 1px;
    text-align: center;
  }