
        *{margin: 10px;
        padding: 2px;
        box-sizing: border-box;
        font-family: 'Roboto',sans-serif;
        }
        

    .container-all{
        width: 100%;
        max-width: 1000px;
        margin: auto;
        padding: 60px;
        background: white;
        margin-top: 100px;
        
    }

    .container-all img{
        width: 250px;
        float:left;

    }

    .container-all p{
        font-size: 25px;
        font-weight: 300;
    }

    div hr{
        background-color: black;
        
    }
    div div a button{
        border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #000000;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    transition: all 500ms ease;
    }
  